%%-*- mode:erlang -*-

%% pose

{lib_dirs, ["deps"]}.

{erl_opts, [ {i, "../../deps"}, {i, ".."} ]}.

{edoc_opts, [
    {preprocess, true},
    {includes, ["deps",".."]},
    {doclet, multi_doclet},
    {skip_libs, ["deps"]},
    {doclet_list, [edown_doclet, edoc_doclet]},
    {top_level_readme,
            {"./README.md", "http://github.com/beadsland/pose"}},
    {todo, true}
    ]}.

% pose can't depend on superl (circular relationship)

{deps, [
    {edoc, ".*",
        {git, "git://github.com/beadsland/edoc", {branch, master}}},
    {edown, ".*",
        {git, "git://github.com/beadsland/edown", {branch, master}}},
    {multidoc, ".*",
        {git, "git://github.com/beadsland/multidoc", {branch, master}}}
    ]}.